<h1 class="loginTitle">Login</h1>

<form id="loginForm" action="/login" method="post">
    <label for="name">Ingresa tu nombre</label>
    <input type="text" required="true" name="name" placeholder="Nombre...">
    <button id="loginBtn" type="submit">Ingresar</button>
</form>
<script src="../login.js"></script>